<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<title>Admin-only page</title>
	</head>

	<body style="width:100%; position:absolute; top:-8px; left:-8px;">

		{% use 'OGISIndexBundle:Default:header.html.twig' %}
		{% block header %}
			{{ parent() }}
		{% endblock %}

		{% block pagecontent %}

			Admin-only page
			
			<!-- This page was used to test add news post functionality -->

			<form action="{{ path('adminonly') }}" method="POST" id="news">
				<input name="_title" type="text" /><br/>
				<textarea name="_body" form="news"></textarea><br/>
				<button type="submit">Submit</button>
			</post>

		{% endblock %}

		{% block footer %}
			{{ parent() }}
		{% endblock %}
	</body>
</html>
